
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:form>
		<div id="banner">
<!-- 			<img src="resources/img/logocni.jpg" alt="" align="right" -->
<!-- 				style="margin-right: 40px;" /> -->
		</div>

		<p:menubar>

			

		</p:menubar>
	</h:form>
</ui:composition>


