<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ps="http://primefaces.org/sentinel"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="layout-menubar" class="Unselectable fontRegular">
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>
		<div class="EmptyBox10"></div>

<!-- 		<div class="layout-menubarinner-box" id="searchArea"> -->
<!-- 			<i class="icon-search floatLeft gray"></i> <input type="text" -->
<!-- 				class="layout-menubar-search floatLeft Animated05" -->
<!-- 				placeholder="Search Here" /> -->
<!-- 		</div> -->

		
<h:body>

		

</h:body>

	</div>

</ui:composition>
