<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml"
	xmlns:sec="http://www.springframework.org/security/jsf/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="content">
		<style type="text/css">
.ui-panel {
	margin-top: 20px
}
</style>

		<div class="ContainerIndent">

			<div class="Container100">
						<div class="ContainerIndent">
							<h:outputText value="Incluir Funcionario" styleClass="icon-title FontBold Fs18 hardblue"></h:outputText>
						</div>
					<div class="EmptyBox10"></div>
			</div>

			<h:form id="forme">

				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:outputText value="Nome do Funcionario" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:inputText value="#{funcionarioController.funcionario.nome}" />
					</div>
				</div>



				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:outputText value="Email" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:inputText value="#{funcionarioController.funcionario.email}" />
					</div>
				</div>


				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:outputText value="Salario" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:inputText value="#{funcionarioController.funcionario.salario}" />
					</div>
				</div>



				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:outputText value="Idade" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:inputText value="#{funcionarioController.funcionario.idade}" />
					</div>
				</div>


				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<h:outputText value="Setor" />
					</div>
				</div>

				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:selectOneMenu value="#{funcionarioController.setor}" style="width:180px">
							<f:selectItem itemLabel="Selecione" itemValue="" />
							<f:selectItems value="#{funcionarioController.setores}"
								var="item"></f:selectItems>
						</p:selectOneMenu>
					</div>
				</div>

				<br></br>

				<div class="ui-grid-row">
					<div class="ui-grid-col-3">
						<p:commandButton value="Salvar"
							action="#{funcionarioController.cadastrarFuncionario}"
							styleClass="CyanButton" />
						<p:commandButton value="voltar"
							action="#{funcionarioController.voltar}" styleClass="CyanButton" />
					</div>
				</div>

			</h:form>

		</div>
	</ui:define>
</ui:composition>