<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml"
	xmlns:sec="http://www.springframework.org/security/jsf/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:define name="content">
		<style type="text/css">
.ui-panel {
	margin-top: 20px
}
</style>

		<div class="ContainerIndent">
			<div class="Container100">
				<div class="ContainerIndent">
					<h:outputText value="Gerenciamento de Funcionários"
						styleClass="icon-title FontBold Fs18 hardblue"></h:outputText>
				</div>
				<div class="EmptyBox10"></div>

			</div>

			<h:form id="form">

				<div class="ui-grid-row">
					<div class="ui-grid-col-9">
						<p:commandButton value="Buscar"
							action="#{funcionarioController.pesquisarFuncionario}" styleClass="CyanButton"/>

<td></td>
						<p:commandButton value="Cadastrar"
							action="#{funcionarioController.cadastrar}" styleClass="CyanButton"/>
					</div>
				</div>

<br></br>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<p:dataTable id="tablefuncionario" var="func" paginator="true"
							rows="5" paginatorPosition="bottom"
							emptyMessage="Nenhum registro foi encontrado para os parâmetros informados."
							value="#{funcionarioController.funcionarios}">
							<f:facet name="header">
                               	Dados do Funcionario
                           	</f:facet>

							<p:column headerText="Nome">
						        <h:outputText value="#{func}" />
						    </p:column>

						</p:dataTable>
					</div>
				</div>



			</h:form>

		</div>
	</ui:define>
</ui:composition>